body{
  margin: 0 auto;
  background-color: #222222;
}
header{
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: #EAC807;
}
a{
  color: inherit;
}

h1.name{
  color: #222222;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
h3.name{
  color: #222222;
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
}
h1#projects{
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 45px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

img.footer{
  width:50px;
  height:50px;
  filter: invert(100%);
  padding: 3px;
}
img.header{
  border-radius: 50%;
  border: 10px solid #222222;
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}
div.content{
  color: #EAC807;
  /* font-family: 'Jockey One', sans-serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 150px;
  padding-left: 10%;
  padding-right: 10%;
}
section.projectsSection{
  width:100%;
  height:100%;
  padding-right: 20px;
  padding-bottom: 20px;
  display: inline-block;

}
section.projectsSection a{
  text-decoration: none;
}
div.projects{
  display: flex;
  justify-content: center;

}
div.project{
  text-align: center;
}
div.project img{
  display: block;
  text-align: center;
  border-radius: 50%;
  margin: 0 20px 0 20px;
  border: 5px solid black;
  height: 100px;
  width: 100px;
}
div.project img:hover{
  border: 5px solid #EAC807;
}
div.projects a{
  color: white;
}
div.bio{
  padding-left: 30%;
  padding-right: 30%;
}
footer{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}
